*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
html{
    font-size: 62.5%;
}

body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#f4f4f4;
}
.container{
    border: 1px solid black;
    width: 90%;
    max-width:50rem;
    min-height: 40rem;
}

.div-container{
    margin:2rem ;
    display: flex;
    justify-content: center;
    justify-content: space-around;
}
.div1,.div2{

    max-width: 18rem;
    padding: 2rem;
}
.cbt{
    padding: 2rem;

}
label{
    font-size:larger;
}
select{
    padding-right: 3rem;
}
.out{
    display: flex;
    justify-content: center; /* horizontal center */
    align-items: center;     /* vertical center */

    height: 20rem; 
    font-size: 2rem;
}
.inpt{
     display: flex;
    justify-content: center; /* horizontal center */
    align-items: center;     /* vertical center */
    font-size: 2rem;
    margin-left: 2rem;
}